<mat-toolbar color="primary" class="toolbar">
    <span class="title">Angular Deep Dive</span>

    <span class="spacer"></span>

    <button mat-button [routerLink]="['/products']">Productos</button>
    <button mat-button [routerLink]="['/products/create']">Agregar</button>

    <button mat-icon-button (click)="toggleTheme()">
        <ng-container *ngIf="isDarkTheme$ | async as isDarkTheme">
            <span [class.rotate-icon]="rotating">
                <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
            </span>
        </ng-container>
    </button>

</mat-toolbar>