.dark-theme {
    background-color: #121212;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

body {
    background-color: #f5f5f5;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme mat-toolbar {
    background-color: #1f1f1f;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme table,
.dark-theme mat-table {
    background-color: #1e1e1e;
    transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes background-transition-light-to-dark {
    from {
        background-color: #f5f5f5;
        color: #000;
    }

    to {
        background-color: #121212;
        color: #fff;
    }
}

@keyframes background-transition-dark-to-light {
    from {
        background-color: #121212;
        color: #fff;
    }

    to {
        background-color: #f5f5f5;
        color: #000;
    }
}

.transition-light-to-dark {
    animation: background-transition-light-to-dark 0.5s ease forwards;
}

.transition-dark-to-light {
    animation: background-transition-dark-to-light 0.5s ease forwards;
}